*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior:smooth;
}


body{
   background:linear-gradient(120deg,#7c3aed,#4f46e5);;
  color:white;
}


.container{
  width:100%;
}

.logo{
  font-style: italic;
  font-display: block;
  font-weight: 500;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 60px;
  background:linear-gradient(90deg,#7c3aed,#4f46e5);
  position:sticky;
  top:0;
  z-index:1000;
  font-size: x-large;

}

.navbar ul{
  display:flex;
  gap:25px;
  list-style:none;
}

.navbar a{
  text-decoration:none;
  color:white;
  font-weight:500;
  transition:0.3s;
}

.navbar a:hover{
  color:#facc15;
}


.hero{
  min-height:50vh;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:60px;
  background:linear-gradient(120deg,#1e293b,#0f172a);
}

.hero span{
  color:#facc15;
}

.hero-img img{
  width:260px;
  border-radius:15px;
  box-shadow:0 10px 25px rgba(0,0,0,0.4);
  animation:float 3s ease-in-out infinite;
}


.btn{
  padding:12px 22px;
  border:none;
  background:#facc15;
  color:black;
  font-weight:bold;
  border-radius:6px;
  cursor:pointer;
  margin-top:15px;
  transition:0.3s;
}

.btn:hover{
  transform:scale(1.08);
  box-shadow:0 0 20px #facc15;
}


.section{
  min-height:30vh;
  padding:80px 60px;
  text-align:center;
  animation:fadeUp 1s ease;
}


#about{
  background:linear-gradient(120deg,#7c3aed,#4f46e5);
}

#skills{
  background:linear-gradient(120deg,#7c3aed,#4f46e5);
}

#projects{
  background:linear-gradient(120deg,#7c3aed,#4f46e5);
}

#contact{
  background:linear-gradient(120deg,#7c3aed,#4f46e5);
}
#section{
    background:linear-gradient(120deg,#7c3aed,#4f46e5);
}



.grid{
  display:flex;
  justify-content:center;
  gap:25px;
  flex-wrap:wrap;
  margin-top:30px;
}


.box{
  background:white;
  color:black;
  padding:14px 24px;
  border-radius:8px;
  font-weight:600;
  transition:0.3s;
}

.box:hover{
  transform:translateY(-6px);
}


.card{
  background:white;
  color:black;
  padding:22px;
  width:270px;
  border-radius:12px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 10px 25px rgba(0,0,0,0.3);
}


footer{
  text-align:center;
  padding:20px;
  background:#020617;
}


@keyframes fadeUp{
  from{opacity:0; transform:translateY(40px);}
  to{opacity:1; transform:translateY(0);}
}

@keyframes float{
  0%,100%{transform:translateY(0);}
  50%{transform:translateY(-12px);}
}


@media(max-width:900px){

  .hero{
    flex-direction:column;
    text-align:center;
    gap:30px;
  }

  .navbar{
    padding:15px 25px;
  }

  .section{
    padding:60px 25px;
  }
}
